html {
    font-size: 10px;
    min-width: 480px;
}

body {
    box-sizing: border-box;
    margin: 0;
    background: linear-gradient(
        $color-ambient-sky 3%, 
        $color-ambient-sky-light 8%, 
        $color-ambient-sky-light-light 21%, 
        $color-ambient-grass 22%,
        $color-ambient-grass 32%,
        $color-ambient-border 32.2%,
        $color-ambient-border 34%,
        $color-ambient-asphalt 34.2%);
}
