// header and footer

$color-header: rgba(220, 220, 220, 0.25);
$color-footer: rgba(80, 80, 80, 0.25);

$color-header-border: rgba(255, 255, 255, 0.25);
$color-footer-border: rgba(255, 255, 255, 0.25);

$color-header-text: rgba(255, 255, 255, 0.493);
$color-header-hover: rgba(255, 255, 255, 0.116);

// ambient

$color-ambient-sky: rgb(66, 185, 221);
$color-ambient-sky-light: rgb(45, 221, 221);
$color-ambient-sky-light-light: rgb(155, 252, 252);
$color-ambient-grass: rgb(97, 207, 34);
$color-ambient-border: rgb(196, 196, 196);
$color-ambient-asphalt: #504f48;

// controller

$controller-wrapper: rgba(90, 135, 141, 0.3);

$controller-input: rgba(255, 255, 255, 0.493);

$controller-button-create: rgba(55, 148, 60, 0.7);
$controller-button-create-hover: rgba(55, 148, 60, 0.5);
$controller-button-update: rgba(189, 152, 49, 0.7);
$controller-button-update-hover: rgba(189, 152, 49, 0.5);

$controller-button-race-1: rgba(255, 155, 109, 0.8);
$controller-button-race-2: rgba(255, 213, 74, 0.8);

$controller-button-reset: rgba(184, 55, 55, 0.7);
$controller-button-reset-hover: rgba(184, 55, 55, 0.5);
$controller-button-generate: rgba(59, 122, 131, 0.7);
$controller-button-generate-hover: rgba(59, 122, 131, 0.5);