.header {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 3rem;
    font-weight: 700;
    color: $color-header-text;
    width: 100%;
    height: 7vh;
    min-height: 50px;
    background-color: $color-header;
    border-bottom: solid 4px $color-footer-border;
}

.garage-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    &:hover {
        background-color: $color-header-hover;
    }
    &::before {
        position: absolute;
        top: -3px;
        left: 20px;
        content: "‹ ";
        font-size: 4rem;
    }
}

.winners-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    &:hover{
        background-color: $color-header-hover;
    }
    &::after {
        position: absolute;
        top: -3px;
        right: 20px;
        content: " ›";
        font-size: 4rem;
    }
}
