.control-panel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    margin: 10px;
    padding: 10px 0px;
    border-radius: 10px;
    background-color: $controller-wrapper;
}

.control-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.car-creator-panel,
.car-updater-panel,
.race-control-panel, 
.information-panel,
.pagination-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 20px;
    margin: 3px 0;
}

.text-car-creator, 
.text-car-updater,
.color-car-creator,
.color-car-updater {
    box-sizing: border-box;
    border-radius: 3px;
    height: 100%;
    border: none;
    background-color: $controller-input;
    &:focus {
        outline: none;
    }
}

.text-car-creator,
.text-car-updater {
    width: 156px;
}

.color-car-creator,
.color-car-updater {
    width: 30px;
    padding: 0 2px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 100%;
    border-radius: 3px;
    transition: all 200ms ease;
    &[button = create] {
        background-color: $controller-button-create;
        &:hover {
            background-color: $controller-button-create-hover;
        }
    }
    &[button = update] {
        background-color: $controller-button-update;
        &:hover {
            background-color: $controller-button-update-hover;
        }
    }
    &[button = race] {
        background: linear-gradient(
        to right, 
        $controller-button-race-1 0%, 
        $controller-button-race-2 50%
        );
        background-size: 200%;
        &:hover {
            background-position: 100%;
        }
    }
    &[button = reset] {
        background-color: $controller-button-reset;
        &:hover {
            background-color: $controller-button-reset-hover;
        }
    }
    &[button = generate] {
        width: 110px;
        background-color: $controller-button-generate;
        &:hover {
            background-color: $controller-button-generate-hover;
        }
    }
    &[button = cars] {
        width: 49%;
        background-color: $pagination-button-cars;
    }
    &[button = page] {
        width: 49%;
        background-color: $pagination-button-page;
    }
    &[button = prev] {
        background-color: $pagination-button-prev;
        &:hover {
            background-color: $pagination-button-prev-hover;
        }
    }
    &[button = next] {
        background-color: $pagination-button-next;
        &:hover {
            background-color: $pagination-button-next-hover;
        }
    }

}
