.race-place-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 68.5%;
}

.race-place {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.car-track {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px 0 0 0;
    width: 100%;
    height: 14%;
    border-bottom: double 6px white;
    background: linear-gradient( 270deg,
        $color-ambient-asphalt 100px,
        $color-ambient-finish-border 100px,
        $color-ambient-finish-border 110px, 
        $color-ambient-finish 110px,
        $color-ambient-asphalt 125px);
}

.car-editor {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    height: 35%;
}

.car-controller {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    height: 65%;
}

.engine-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    height: 100%;
}

.button-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 26px;
    font-size: 1.6rem;
    border-radius: 5px;
    margin: 0 0 0 5px;
    &[button = delete] {
        font-size: 1.2rem;
        background-color: rgba(119, 118, 118, 0.3);
        &:hover {
            background-color: rgba(172, 29, 4, 0.9);
        }
    }
    &[button = edit] {
        background-color: rgba(119, 118, 118, 0.3);
        &:hover {
            background-color: rgba(169, 172, 4, 0.9);
        }
    }
}

.car-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    height: 100%;
    margin: 0 0 0 5px;
    padding: 0 5px;
    border-radius: 5px;
    background-color: $table-header;
    user-select: none;
}

.button-engine {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 700;
    height: 50%;
    width: 26px;
    border-radius: 5px;
    margin: 0 0 0 5px;
    &[button = start] {
        background-color: rgba(99, 172, 4, 0.5);
        &:hover {
            background-color: rgb(99, 172, 4, 0.9);
        }
    }
    &[button = stop] {
        background-color: rgb(141, 1, 1, 0.5);
        &:hover {
            background-color: rgb(141, 1, 1, 0.9);
        }
    }
    &.unactive {
        background-color: $button-unactive;
        color: $button-text-unactive;
    }
}

.car {
    display: flex;
    align-items: flex;
    justify-content: center;
    position: relative;
    margin: 0 0 0 5px;
    width: 80px;
    height: 120%;
    max-height: 45px;
    transform: scale(-1, 1);
    transform-origin: center;
}
