.table-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    margin: 3px;
}

.table-pagination-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 20px;
    margin: 10px 0 0 0;
}

.text-table-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49%;
    height: 100%;
    border-radius: 3px;
    transition: all 200ms ease;
    &[text = cars] {
        background-color: $pagination-table-button-winners;
    }
    &[text = page] {
        background-color: $pagination-table-button-page;
    }
}

.button-table-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 100%;
    border-radius: 3px;
    transition: all 200ms ease;
    margin: 0 3px;
    &[button = prev] {
        background-color: $pagination-button-prev;
        &:hover {
            background-color: $pagination-button-prev-hover;
        }
    }
    &[button = next] {
        background-color: $pagination-button-next;
        &:hover {
            background-color: $pagination-button-next-hover;
        }
    }
}